@use "sass:math";

$primary: #4F40FB;
$primary-dark: #2E0379;
$primary-navy: #2E3FB3;
$primary-light: #0BA8FF;
$primary-baby: #00CCD6;

$grey: #767676;
$grey-light: #FCFCFC;
$grey-dark: #EEEEEE;
$dark: #000000;
$light: #FFFFFF;

//maybe replace?
$inactive: #747474;

$spacing: 15px;
$left-bar-size: 7rem;